export NODE_ENV=dev
export PG_HOST=localhost
export PG_PORT=5432
export PG_DATABASE=postgres
export PG_USERNAME=postgres
export PG_PASSWORD=postgres
export REDIS_HOST=localhost
export REDIS_PORT=6379
export CANVAS_SIZE=30