#create-canvas-div {
  font-weight: bold;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.list-header-div {
  text-align: center;
  margin-top: 10px;
}