#center-div {
  height: 100%;
}

#bg-image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px); /* apply the blur */
  pointer-events: none; /* make the overlay click-through */
}

#bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background: no-repeat center center;
  background-image: url('background.jpg');
  background-size: cover;
}

.centered-div {
  background-color: var(--light-color);
  box-shadow: 0.2em 0.4em 5px;
  border-radius: 3px;
  font-weight: bold;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 40px 60px 50px;
  width: 37%;
  min-width: 200px;
  max-width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#login-div {
  height: 49%;
  min-height: 450px;
}

#register-div {
  height: 52%;
  min-height: 470px;
}

.ant-form-item {
  margin-bottom: 20px !important;
  font-weight: lighter;
}
