#canvas-div {
  width: calc(100vw - 80px);
  height: calc(100vh - 124px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-container {
  width: min(100vw, calc(100vh - 124px));
  height: min(100vw, calc(100vh - 124px));
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  cursor: crosshair;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

#controls-div {
  width: 290px;
  height: 370px;
  background: var(--dark-color);
  box-shadow: 0.1em 0.2em 3px;
  border-radius: 3px;
  border: 1px solid black;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  right: 0;
}

#controls-div:hover {
  cursor: grab
}

#controls-div:active {
  cursor: grabbing;
}
