.canvas-div {
  width: 100% !important;
  height: 100% !important;
}

.canvas-container {
  width: min(100vw, calc(100vh - 124px)) !important;
  height: min(100vw, calc(100vh - 124px)) !important;
  /* background: white; */
  display: flex !important;
  justify-content: center;
  align-items: center;
}

#canvas {
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  cursor: crosshair;
}

#controls-div {
  width: 300px;
  height: 450px;
  background: var(--dark-color);
  box-shadow: 0.1em 0.2em 3px;
  border-radius: 3px;
  border: 1px solid black;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20%;
  right: 0;
  text-align: center;
}

.top-right {
  position: absolute !important;
  top: 5px;
  right: 5px;
}

#controls-div:hover {
  cursor: grab
}

#controls-div:active {
  cursor: grabbing;
}
